.patients_details p,
.patients_details h5 {
  font-size: 16px;
  line-height: 24px;
  color: #1d2b5f;
}
.patients_details h5 {
  color: #325cf4;
}
.patients_details p i {
  margin-right: 5px;
}
.patients_details p span {
  font-size: 14px;
}
.patient_profile_img img {
  border-radius: 50%;
}
.patient_summary h3 {
  color: #325cf4;
  font-size: 24px;
  padding-bottom: 20px;
}
.patient_summary p {
  color: #1d2b5f;
  margin-bottom: 35px;
}
.patient_summary p.join_time {
  margin-bottom: 15px;
  font-size: 16px;
  color: #a3aed0;
}
.goal_img img {
  height: 140px;
  width: 100%;
}
.goal_content ul li {
  color: #1d2b5f;
}
.goal_content ul li:nth-child(1) {
  font-size: 20px;
}
.goal_content ul li:nth-child(2) {
  font-size: 18px;
}
.goal_content ul li:nth-child(3) {
  font-size: 16px;
}
.goal_content ul li:nth-child(4) {
  font-size: 14px;
}

.prescription p {
  color: #1d2b5f;
}
.prescription_title {
  font-size: 12px;
}
.indication {
  font-size: 10px;
}
.recent_tests ul li,
.prescription_content ul li {
  height: 49px;
  background: #f4f6ff;
  margin-bottom: 7px;
  border-radius: 12px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.recent_tests ul li:first-child,
.prescription_content ul li:first-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: none;
  padding-top: 0;
  height: 45px;
}
.prescription_content ul li p span.no_bg,
.prescription_content ul li p span.bg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #325cf4;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: var(--white-clr);
  font-size: 10px;
}
.prescription_content ul li p span.no_bg {
  background-color: rgba(28, 28, 28, 0.5);
}
.recent_tests_content ul li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.recent_tests ul li p a.btn {
  padding: 7px 15px;
  font-size: 12px;
  color: #fff;
  border: 2px solid transparent;
  cursor: default;
}

.recent_tests ul li p a.btn.high {
  background-color: #ff725e;
}

.recent_tests ul li p a.btn.normal {
  background-color: #05cd99;
}
.medical_history_wrapper h4.title {
  margin: 25px 0;
}
.past_medical_history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.single_history {
  height: 75px;
  border: 2px solid #1d2b5f;
  border-radius: 12px;
  display: grid;
  padding: 7px;
}
.single_history h4 {
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.single_history p {
  font-size: 16px;
  color: #1d2b5f;
  text-align: center;
}

.medical_history_wrapper .owl-nav {
  top: -67px;
  left: 530px;
}
.report_download p {
  padding: 12px 0;
  font-size: 12px;
}
.report_download input {
  padding: 20px;
  background: #f4f6ff;
  border: 0;
  outline: 0;
  border-radius: 12px;
  width: 100%;
}
.report_download input::placeholder {
  color: rgba(29, 43, 95, 0.6);
  font-size: 14px;
}
.report_download_btn {
  margin-top: 18px;
}
.report_download_btn a.btn {
  width: 100%;
  padding: 20px 35px;
  background-color: #1d2b5f;
  color: var(--white-clr);
  border-radius: 12px;
}
.input_field {
  position: relative;
}
.arrow_btn i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  background: #1d2b5f;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: none;
}
.recipe_heading h2 span {
  color: #325cf4;
}
