/* ============ physical and mental page design start here ============= */
.pAndM_toDoListWrapperMain {
  padding: 21px 33px 33px 33px;
  background-color: var(--white-clr);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.toDo_title {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 20px;
  color: var(--card-text-clr);
  padding-bottom: 12px;
}
.suggest_title.toDo_itemTitle {
  padding-bottom: unset;
}
.toDo_itemWrapper {
  padding: 15px;
  background-color: #f4f6ff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.toDo_itemTitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: var(--fw-bold);
  column-gap: 10px;
}
.toDo_itemTitle a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-text-clr);
  font-size: 14px;
}
.toDo_videoItem {
  max-width: 209px;
  max-height: 111px;
}
.toDo_overlayContentWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.toDo_overlayContentWrapper a {
  font-size: 18px;
}
.toDo_overlayContent h3 {
  font-weight: var(--fw-regular);
  font-size: 14px;
}
.averageSleep_cardWrapper {
  background: url(../images/averageSleep_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 44px 50px 76px 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.lastWeek_sleepContent {
  font-family: var(--primary-font);
  color: var(--white-clr);
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding-bottom: 12px;
}
.lastWeek_averageSleepTimeWrapper {
  font-family: var(--primary-font);
  color: var(--white-clr);
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding-bottom: 18px;
}
.lastWeek_averageSleepTime {
  font-weight: var(--fw-bold);
  font-size: 48px;
  padding-right: 4px;
}
.average_sleepBtn.common_btn {
  padding: 7px 32px;
  color: var(--btn-bg-grn);
  background-color: var(--white-clr);
}
.weekly_graphTitle {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 16px;
  color: var(--white-clr);
  padding-bottom: 8px;
}
.small_cardWrapper{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 22px 27px;
  background-color: var(--white-clr);
}
.summery_card{
  background-color: var(--card-text-clr);
}
.card_contentSummery{
  font-weight: var(--fw-regular);
  font-size: 16px;
  color: var(--white-clr);
  text-align: center;
}
.smallCard_contentWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.small_cardTitleWrapper{
  font-family: var(--primary-font);
  color: var(--card-text-clr);
}
.small_cardTitleWrapper p{
  font-weight: var(--fw-regular);
  font-size: 20px;
  padding-bottom: 2px;
}
.small_cardTitleWrapper h6{
  font-weight: var(--fw-bold);
  font-size: 24px;
}
.smallCardBtn.common_btn{
  padding: 7px 20px;
  background-color: var(--btn-bg-grn);
}
.small_insightCardWrapper{
  padding: 27px 56px;
}
.small_insightCardContentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  color: var(--card-text-clr);
  text-align: center;
}
.small_insightCardContentWrapper h4{
  font-weight: var(--fw-bold);
  font-size: 20px;
  padding-bottom: 10px;
}
.small_insightCardContentWrapper p{
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding-bottom: 20px;

}
/* ============ physical and mental page design end here ============= */
