/* ============== import area start here =================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5..100,100..900&display=swap");

/* ============== import area end here =================== */
/* ========= others pages css file =========== */

/* ========= others pages css file =========== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --primary-font: "Noto Sans", sans-serif;
  /* === font family === */
  /* === font weight === */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  /* === font weight === */
  /* === font size === */
  --heading-font-size-1: 64px;
  --heading-font-size-2: 48px;
  --body-font-size: 24px;
  --pera-font-size-1: 20px;
  --pera-font-size-2: 16px;
  --btn-font-size: 12px;
  /* === font size === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --transparent-clr: transparent;
  --theme-blue-clr: #f2f5ff;
  --theme-blue-clr-2: #f4f7fe;
  --primary-blue-clr: #325cf4;
  --border-clr: rgba(50, 92, 244, 0.3);
  --border-clr-2: #9747ff;
  --secondary-blue-clr: #113bb3;
  --tertiary-blue-clr: #113bb3;
  --text-gray-clr: #3d3d3d;
  --baseline-gray-clr: #d9d9d9;
  --text-medium-clr: #6276b6;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  --text-uppercase: uppercase;
  --text-capitalize: capitalize;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
body {
  position: relative;
  font-family: var(--primary-font);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.common_btn {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: var(--btn-font-size);
  text-transform: var(--text-capitalize);
  color: var(--white-clr);
  background-color: var(--primary-blue-clr);
  padding: 7px 10px;
  border: 1px solid var(--transparent-clr);
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-blue-clr);
  background-color: var(--white-clr);
  border: 1px solid var(--border-clr);
}

/* ============= common css end here ================ */

/* ===========  dashboard page css start here ========== */
#dashboard {
  background-color: var(--theme-blue-clr-2);
}
.sidebar_wrapper {
  background-color: var(--white-clr);
  padding: 40px 20px 0 38px;
}
.brand_logo {
  padding-bottom: 40px;
}
.dashboard_userWrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  column-gap: 15px;
  border-top: 1px solid var(--theme-blue-clr-2);
  border-bottom: 1px solid var(--theme-blue-clr-2);
}
.user_imageWrapper {
  max-width: 48px;
  max-height: 48px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user_detailsWrapper {
  font-family: var(--primary-font);
  text-transform: var(--text-capitalize);
}
.user_names {
  font-size: var(--pera-font-size-2);
  font-weight: var(--fw-bold);
  color: #272927;
  padding-left: 10px;
  padding-bottom: 5px;
}
.user_lastLogin {
  font-weight: var(--fw-regular);
  font-size: 14px;
  color: #a3aed0;
}
.nav_menu {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.nav-link {
  padding: 10px;
  font-family: var(--primary-font);
  color: #a3aed0;
  font-size: var(--pera-font-size-2);
  font-weight: var(--fw-bold);
  background-color: var(--transparent-clr);
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_icon {
  font-size: 20px;
}
.nav-link:hover {
  color: var(--white-clr);
  background-color: var(--primary-blue-clr);
}
.nav-link.active {
  color: var(--white-clr);
  background-color: var(--primary-blue-clr) !important;
}
.nav-link:hover .nav_icon {
  color: var(--white-clr);
}
.nav-link.active .nav_icon {
  color: var(--white-clr);
}

/* ===========  dashboard page css end here ========== */
